@model BMWDealership_SoftUniFinal.Models.CatalogCars

<h2>Модел - @Model.Title</h2>
<img src="@Model.ImageUrl" alt="@Model.Title" style="max-width:400px;" />
<h2>Цена = @Model.Price €</h2>

<p><strong>Описание:</strong> @Model.Description</p>
<p><strong>Година:</strong> @Model.Year</p>
<p><strong>Трансмисия:</strong> @Model.Transmission</p>
<p><strong>Конски сили:</strong> @Model.Horsepower HP</p>

<a href="@Url.Action("Index", "Catalog")">← Обратно в каталог</a>
